<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="font-['helvetica_now_display']">
    <nav class="w-full px-5 py-3 flex justify-between">
      <h3 class="text-xl">Scatch</h3>
      <% var Loggedin = typeof Loggedin !== "undefined" ? Loggedin : true %> <%
      if(Loggedin) { %>
      <div class="flex gap-4">
        <a href="/shop">shop</a>
        <a href="/cart">cart</a>
        <a href="/account">myaccount</a>
        <a class="text-red-600" href="/users/logout">logout</a>
        <%} %>
      </div>
    </nav>
  </body>
</html>
